{% extends 'backweb/base.html' %}

{% block content %}

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">修改密码</h2>
      </div>
    <section>
    <form action="" method="POST">
        {% csrf_token %}
        <p>{{ error }}</p>
      <ul class="ulColumn2">
        <li>
        <span class="item_name" style="width:120px;">输入旧密码：</span>
        <input type="password" class="textbox textbox_295" placeholder="输入密码..." name="oldpassword">
        <br/>
        <br/>
        <br/>
        <span class="item_name" style="width:120px;">输入新密码：</span>
        <input type="password" class="textbox textbox_295" placeholder="输入密码..." name="password1">
        <br/>
        <br/>
        <br/>
        <span class="item_name" style="width:120px;">确认密码：</span>
        <input type="password" class="textbox textbox_295" placeholder="确认密码..." name="password2">
           <br/>
           <br/>
           <br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <input type="submit" value="提交" class="group_btn"/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <input type="reset" value="重置" class="group_btn"/>
       </li>
      </ul>
    </form>
     </section>
 </div>
</section>

{% endblock %}
