{% extends 'web/base.html' %}

{% block content %}
  <main class="r_box">
    {% for art in arts2 %}
        <li>
            <h3><a href="/front/article/{{ art.id }}">{{ art.a_name }}</a></h3>
            <h4>类别：{{ art.a_category.name }}</h4>
            <h5>热度：{{ art.a_hit }}</h5>
            <p>
                {{ art.a_desc }}
            </p>
        </li>
    {% endfor %}
        <div class="pagelist">
            <a href="{% url 'front:index' %}?keyboard={{ keyboard }}" class="curPage">首页</a>

            {% if arts2.has_previous %}
            <a href="{% url 'front:index' %}?page={{ arts2.previous_page_number }}&keyboard={{ keyboard }}" class="allpage"><b>上一页</b></a>&nbsp;&nbsp;
            {% endif %}

            {% for i in arts2.paginator.page_range %}
              <a href="{% url 'front:index' %}?page={{ i }}&keyboard={{ keyboard }}">{{ i }}</a>
            {% endfor %}

            {% if arts2.has_next %}
                <a href="{% url 'front:index' %}?page={{ arts2.next_page_number }}&keyboard={{ keyboard }}" class="allpage"><b>下一页</b></a>
            {% endif %}

            <a href="{% url 'front:index' %}?page={{ arts2.paginator.num_pages }}&keyboard={{ keyboard }}" class="curPage">尾页</a>
        </div>
  </main>
{% endblock %}
